*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat','Arial';
    overflow-x: hidden; /*TODO CONTEUDO QUE PASSAR PARA O EIXO X, seja ignorado. resolver o problema de borda **/
}
header{
    background-color: black;
    height: 100px;
    margin: auto;
    
}
.header{
    max-width: 1300px; /*passou de 1140px ela não expande e depois isso faz conteudo no meio com margin auto*/
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #0000;
}
.logo{
    width: 100px;
}
.logoImg{
    width: 80px;
    height: 80px;
    background-color: #b28756;
    border-radius: 40px;
}
.menu{
    flex: 1; /*menu pega toda a área restante*/
    display: flex;
    justify-content: flex-end;
    
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
    
}
.menu li a{
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 10px;
    padding-right:10px ;
    display: flex;
    height: 100px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
   
}
.menu li :hover,
.menu li .active{
    border-bottom: 1px solid #b28756;
    color: #cccc;

}
.button{
    display: inline-block; /*display inline block para alterar funçoes de espaçamento*/
    background-color: #b28756;
    font-size: 15px;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 600px;
    margin-top: 30px;
    border-radius: 20px;
}


/*BANEER E SLIDERS*/
.banner{
    height: calc(100vh - 100px); /*A ALTURA DO BANNER FOI FEITO UM CALCULO - 100VH  pega toda a altura do despositivo - porém ria barra de rolagem e para compensar isso deve descontar a altura do header que é de 100px*/
    background-image: url('/assets/images/bg.jpg');
    background-position: bottom; /*posição mais baixa do background*/
    background-size: cover; /*ajusta o background de acordo com a tela*/
    overflow: hidden; /*esconde tudo que tem na barra*/
    
}

/*CRIAÇÃO DO SLIDE */
.banner .sliders{
    height: 100%;
    width: 1000vw; /*tamanho de 10 telas logo 1000 vw*/
    

}
.banner .slide{
    width: 100VW; /*UM SLIDE TEM QUER TER A LARGURA DA TELA TODA */
    height: 100%;
    display: inline-block; /*faz fazer ficar um ao lado do outro inline-block*/
    background-color: rgba(0, 0, 0, 0.7);
    
}
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
.banner h1{
    text-transform: uppercase; /*maiusculo*/
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.banner h1 span{
    color: #b28756;
}
.banner h2{
    margin-top: 20px;
    text-transform: uppercase;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute; /*como os pontos do slide estão escondidosde baixo do banner que ocupa toda a altura da pagina, aplica-se posição absoluta para ele aparecer sem depender do tamanho do banner*/
   margin-bottom: 100px;
   margin-top: -50px; /*fazer subir os botoes para cima*/

   display: flex;
   justify-content: center;
}
/*BOLINHAS*/
.banner .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; /*faz o ponteiro do mouse ficar com a forma de click mas a dinamica de click é javascript*/
}
.banner .pointer.active{
    background-color: #b28756;
}

/*section default*/

.default{
    padding-top: 50px;
    padding-bottom:50px ;
}
.default .section-title ,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body{
   margin: auto;
   max-width:  1300px; 
}
.default.light{
    background-color: #f7f7f7;

}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark{
    background-color: #000;
    
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}






/*css de area especifico*/
.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--rigt{
    width: 520px;
    text-align: center;
}
.section-aboutus--rigt img{
    width: 480px; /*a imagem quebrou defini largura no elemento */
    box-shadow: 0px 5px 10px #333;
    border-radius: 10px;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 25px;
}




/*seção de serviços*/
.section-services{
    display: flex;
    border-right: 1px solid #333;
    
}
.section-service:first-child{
    border-left: 1px solid #333; /*so o primeiro aplica o left*/
}

.section-service{
    flex: 1;
    text-align: center;
    /*para aplicar as bordas paralelas na vertical se porna direita e na esqueda uma borda fica mais grossa que a outra a solução e escolher um lado e usar o elemento fist:child na borda esqueda */
    /*border-right: 1px solid #333;*/
    padding: 5px;
}

.section-service h4{
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 18px;

}
.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}







/*PROJECTS FILTERS*/

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;


}
.section-projects--filters{
    border:1px solid #CCC ;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul ,
.section-projects--filters li{

    list-style: none;

}
    
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #DDD; /*aplica a borda vertical no li */
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}
.section-projects--filters li:hover{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child{
    border-left: 0; /*remove  primeira borda */
}

.section-projects--photos{ /*para a responsividade se o dispositivo for muito grane ele tem que pegar o maior espaço disponivel e se ser muito pequeno ele deve ter a  */
    width: 100vw;
    max-width: 1300px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}


/*galeria de fotas*/
.section-projects-photo{
    width: 280px;
    
}
.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects-photoarea img{
    width: inherit; /*herdar as propriedades do anteriori photoarea*/
    height: inherit;
}
.section-projects--photoinfo{ /*deixa escuro*/
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;/**/
    height: inherit;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 10px;
}
.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}
.section-projects-photoarea:hover .section-projects--photoinfo{ /*paddando o mouse na imagem ele aplica o display flex em photo area aparecendo a info */
    display: flex;
}




/*section team*/

.bg-team{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg.jpg'); /*backgroud image com o rgba*/
    background-size: cover;
    background-position: center;
    
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin:auto
}

.section-team .sliders{
    height: 100%;
    width: 1000vw; /*tamanho de 10 telas logo 1000 vw*/
    

}
.section-team .slide{
    width: 280px; /*UM SLIDE TEM QUER TER A LARGURA DA TELA TODA */
    height: 100%;
    min-height: 300px;
    display: inline-block; /*faz fazer ficar um ao lado do outro inline-block*/
    color: #000;
    background-color: #fff;
    margin-right: 20px;
    
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;

   
}
.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
/*BOLINHAS*/
.section-team-area .pointer{
    height: 15px;
    width: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer; 
}
.section-team-area .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;

}
.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}
.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}
.section-team--social{
    display: flex;
    margin-top: 20px;
    

}
.section-team--social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}

testimonials .section-body {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.section-price {
    display:flex;
}
.section-price--item {
    flex:1;
    background-color: #FFF;
    margin-right: 20px;
    padding:20px;
    text-align:center;
}
.section-price--item:last-child {
    margin-right:0;
}
.section-price--item-name {
    text-transform: uppercase;
    font-size:13px;
    font-weight:600;
}
.section-price--item-money {
    font-weight: bold;
    font-size:22px;
    margin-top:10px;
}
.section-price--item-period {
    color:#999;
    text-transform: uppercase;
    margin-bottom:20px;
}
.section-price--item-point {
    font-size:12px;
}

.premium {
    background-color:#FFF !important;
    border-top:1px solid #CCC;
}
.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}


.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}





.section-map {
    background-image:url('../images/mapa.png');
    background-size:cover;
    background-position:center;
    padding-top:30px;
    padding-bottom:30px;
}
.section-map--area {
    width:100vw;
    max-width:1140px;
    margin:auto;
}
.section-map--info {
    width:50%;
    padding:30px;
    background-color:#FFF;
    color:#000;
}
.section-map--info-item {
    display:flex;
    align-items:center;
    color:#999;
    margin-bottom:10px;
}
.section-map--info-item-img {
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}
.section-map--info-item-img img {
    width:15px;
    height:auto;
}














@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-team {
        max-width:580px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }


    .section-map {
        padding-left:30px;
        padding-right:30px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
}


@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        display:none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
    }
    .menu li.active a {
        border:0;
        color:#B28756;
    }

    .banner h1 {
        font-size:30px;
    }
    .banner h2 {
        font-size:17px;
    }


    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width:100%;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }

    .section-price {
        flex-wrap:wrap;
    }
    .section-price--item {
        margin-left:20px;
        min-width:calc(100% - 40px);
        margin-bottom:20px;
    }
    .section-price--item:last-child {
        margin-right:20px;
    }

    .section-premium .slidearea {
        flex-direction: column;
    }
    .section-premium--left {
        text-align:center;
        margin-bottom:30px;
    }
    .section-premium--right {
        padding-left:20px;
        padding-right:20px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }

    .section-share {
        flex-wrap:wrap;
        justify-content: flex-start;
    }
    .section-share--legend {
        width:100vw;
        margin:0;
        margin-bottom:30px;
        justify-content: center;
    }
    .section-share--item {
        min-width: 50%;
        max-width: 50%;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        
    }

    .section-contact {
        max-width:100vw;
        margin-left:20px;
        margin-right:20px;
    }
    .section-contact--split {
        flex-direction: column;
    }

    .section-map {
        padding:0;
        padding-bottom:250px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }

    .footer--area {
        flex-direction:column;
    }
    .footer--item {
        margin-bottom:20px;
    }
    .footer-social {
        justify-content: center;
    }
}